<section class="text-center">
    <header class="site-header" id="header">
		<h1 class="text-center" data-lead-id="site-header-title">THANK YOU!</h1>
	</header>

	<div class="main-content">
		<p class="main-content__body mt-1" data-lead-id="main-content-body">Thanks a bunch for ordering our product. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.</p>
        <a href="/order-history/{{userId}}" class="btn btn-outline-secondary">Order History</a>
    </div>

	<footer class="site-footer" id="footer">
		<p class="site-footer__fineprint mt-5" id="fineprint">Copyright ©2014 | All Rights Reserved</p>
	</footer>

</section>